In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
# å‰å‡¦ç†æ¸ˆã¿ã®ãƒ‡ãƒ¼ã‚¿ã®èª­ã¿è¾¼ã¿
df_train = pd.read_csv('./data/processed_train1.csv')
df_test = pd.read_csv('./data/processed_test1.csv')

In [3]:
df_train['NumberOfTrips'].value_counts()

NumberOfTrips
2         1006
3          699
5          436
1          349
7          219
å¹´ã«2å›       141
4          141
å¹´ã«3å›       121
6          109
å¹´ã«5å›        79
å¹´ã«1å›        60
å¹´ã«7å›        37
å¹´ã«6å›        21
å¹´ã«4å›        19
åŠå¹´ã«1å›       17
8            8
å››åŠæœŸã«1å›       3
å¹´ã«8å›         2
Name: count, dtype: int64

In [4]:
# Function to normalize the entries
def normalize_trips(trip):
    # Convert all values to string first
    trip = str(trip)
    # Convert phrases like "å¹´ã«Xå›" to X
    if 'å¹´ã«' in trip and 'å›' in trip:
        return re.sub(r'å¹´ã«(\d+)å›', r'\1', trip)
    # Convert "åŠå¹´ã«1å›" to 0.5 (since it means 2 times a year)
    elif trip == 'åŠå¹´ã«1å›':
        return '0.5'
    # Convert "å››åŠæœŸã«1å›" to 4 (since it means 4 times a year)
    elif trip == 'å››åŠæœŸã«1å›':
        return '4'
    else:
        return trip

# Apply the normalization function
df_train['NumberOfTrips'] = df_train['NumberOfTrips'].apply(normalize_trips)

# Convert to float for consistency and handle errors
def safe_convert_to_float(value):
    try:
        return float(value)
    except ValueError:
        return None  # or handle the error as needed

df_train['NumberOfTrips'] = df_train['NumberOfTrips'].apply(safe_convert_to_float)

# Display the standardized data
df_train['NumberOfTrips'].value_counts()

NumberOfTrips
2.0    1147
3.0     820
5.0     515
1.0     409
7.0     256
4.0     163
6.0     130
8.0      10
Name: count, dtype: int64

In [9]:
df_test['NumberOfTrips'] = df_test['NumberOfTrips'].apply(normalize_trips)
df_test['NumberOfTrips'] = df_test['NumberOfTrips'].apply(safe_convert_to_float)

In [10]:
df_test['NumberOfTrips'].value_counts()

NumberOfTrips
2.0    1103
3.0     886
5.0     462
1.0     392
7.0     257
4.0     170
6.0     151
8.0      16
Name: count, dtype: int64

In [5]:
# Mapping of incorrect variations to correct job titles
mapping = {
    'Executive': 'Executive',
    'ExĞµcutive': 'Executive',
    'ExĞµcutivĞµ': 'Executive',
    'Execuï½”ive': 'Executive',
    'ExecutivĞµ': 'Executive',
    'Ğ•xecutive': 'Executive',
    'Ğ•xecutivĞµ': 'Executive',
    'Ğ•Ã—Ğµcutive': 'Executive',
    'EÃ—ecutive': 'Executive',
    'ExĞµcuti?Ğµ': 'Executive',
    'Executi?e': 'Executive',
    'EÃ—ecï½•tive': 'Executive',
    'Execï½•tive': 'Executive',
    'ExĞµcï½•tivĞµ': 'Executive',
    'Ğ•xecuï½”ive': 'Executive',
    'Î•Ã—ecutive': 'Executive',
    'Executi?Ğµ': 'Executive',            
    'ExĞµcï½•tive': 'Executive',
    'EÃ—Ğµcuti?e': 'Executive',          
    'Ğ•xĞµcutivĞµ': 'Executive',              
    'Ğ•Ã—ecutive': 'Executive', 
    
    'Manager': 'Manager',
    'Îœanager': 'Manager',
    'ManÎ±ger': 'Manager',
    'ManagĞµr': 'Manager',
    'MÎ±nager': 'Manager',
    'ÎœanagĞµr': 'Manager',
    'ManÎ±gĞµr': 'Manager',
    'MÎ±nagĞµr': 'Manager',
    'Manage??': 'Manager',
    'MÎ±nage??': 'Manager',
    'Îœanage??': 'Manager',
    'MÎ±nÎ±ger': 'Manager',
    
    'Senior Manager': 'Senior Manager',
    'Senior ManagĞµr': 'Senior Manager',
    'Senior ManÎ±ger': 'Senior Manager',
    'Senior MÎ±nager': 'Senior Manager',
    'Senior ManÎ±gĞµr': 'Senior Manager',
    'Senior ManagĞµ??': 'Senior Manager',
    'Senio?? Manager': 'Senior Manager',
    '?enior Manager': 'Senior Manager',
    '?enior ManÎ±ger': 'Senior Manager',
    'SĞµnior Manager': 'Senior Manager',
    '?enior Îœanager': 'Senior Manager',
    'Senior ÎœanÎ±ger': 'Senior Manager',
    'Senior MÎ±nÎ±ger': 'Senior Manager',
    'SĞµnior ManagĞµr': 'Senior Manager',
    'Senior Manage??': 'Senior Manager',
    
    'AVP': 'AVP',
    'Î‘VP': 'AVP',
    'ĞVP': 'AVP',
    'AVï¼°': 'AVP',
    
    'VP': 'VP',
    'Vï¼°': 'VP',
}

# Replace incorrect variations with correct job titles
df_train['Designation'] = df_train['Designation'].replace(mapping)

In [14]:
df_test['Designation'] = df_test['Designation'].replace(mapping)

In [15]:
test_mapping = {
    'ExecutiÑµe': 'Executive',
    'Ğ•xecï½•tive': 'Executive',
    'Execï½•tivĞµ': 'Executive',
    'ExĞµcuï½”ive': 'Executive',
     'Execï½•ï½”ive': 'Executive',
    
    'Manager': 'Manager',
    'Manageğ™§': 'Manager',
    'ÎœÎ±nager': 'Manager',
    'MÎ±nÎ±gĞµr': 'Manager',
    'ManagĞµğ™§': 'Manager',
    'ÎœÎ±nagĞµr': 'Manager',
    
    'Senior Manager': 'Senior Manager',
    'Senioğ™§ Manager': 'Senior Manager',
    'Senior Manageğ™§': 'Senior Manager',
    'Senior Îœanager': 'Senior Manager',
    'Õenior Manager': 'Senior Manager',
    'Ğ…enior Manager': 'Senior Manager',
    'Senior ManagĞµğ™§': 'Senior Manager',
    'Senioğ™§ MÎ±nageğ™§': 'Senior Manager',
    'SĞµnior ManagĞµğ™§': 'Senior Manager',
    'Senioğ™§ ManagĞµr': 'Senior Manager',
    'Õenior Îœanager': 'Senior Manager',
    'Ğ…enior Îœanageğ™§': 'Senior Manager',
    'Senioğ™§ ManÎ±ger': 'Senior Manager',
    'Senioğ™§ Manageğ™§': 'Senior Manager',
    'SĞµnioğ™§ Manager': 'Senior Manager',
    
    'AVP': 'AVP',
    'ĞVï¼°': 'AVP',
    'Î‘Vï¼°': 'AVP',
    
    'VP': 'VP'
}

# Replace incorrect variations with correct job titles
df_test['Designation'] = df_test['Designation'].replace(test_mapping)

In [16]:
df_test['Designation'].value_counts()

Designation
Executive         1180
Manager           1062
Senior Manager     778
AVP                324
VP                 145
Name: count, dtype: int64

In [13]:
df_train['Designation'].value_counts()

Designation
Executive         1150
Manager           1055
Senior Manager     854
AVP                311
VP                 119
Name: count, dtype: int64

In [18]:
df_train.isnull().sum()

id                          0
Age                         0
TypeofContact               6
CityTier                    0
DurationOfPitch           121
Occupation                  0
Gender                      0
NumberOfPersonVisiting      0
NumberOfFollowups          33
ProductPitched              0
PreferredPropertyStar       0
NumberOfTrips              39
Passport                    0
PitchSatisfactionScore      0
Designation                 0
MonthlyIncome              56
marital_status              0
car_ownership               0
children                   37
ProdTaken                   0
dtype: int64

In [22]:
# Mapping of variations to standard forms
product_mapping = {
    'Basic': 'Basic', 'basic': 'Basic', 'BASIC': 'Basic', 'Bas?c': 'Basic', 'Ğ’asic': 'Ğ’asic', 'BASÎ™C': 'Ğ’asic', 'Ğ’asic': 'Basic', 'Ğ’asic': 'Basic',
    'Î’asic': 'Basic', 'Basi??': 'Basic', 'Î’as?c': 'Basic', 'BasiÑ': 'Basic', '??asic': 'Ğ’asic', '??asi??': 'Ğ’asic', 
    'Basi?': 'Basic', 'BA?IC': 'Basic', 'BASIĞ¡': 'Basic', 'B??sic': 'Basic', 'Ğ’??sic': 'Ğ’asic',
    'Î’ASIĞ¡': 'Basic', 'Bas??': 'Basic', 'basi?': 'Basic', 'bas?c': 'Basic', 'Ğ’asic': 'Ğ’asic',
    'Baï½“ic': 'Basic', 'BÎ‘SIC': 'Basic', 'Î’as???': 'Basic', 'BÎ‘SIC': 'Basic', 'B??si??': 'Basic', 'Ğ’asic': 'Basic',
    'Deluxe': 'Deluxe', 'deluxe': 'Deluxe', 'DELUXE': 'Deluxe', 'De|uxe': 'Deluxe',
    'DeluÃ—e': 'Deluxe', 'DELUXÎ•': 'Deluxe', 'DÎ•LUXÎ•': 'Deluxe', 'de|uÃ—e': 'Deluxe', 'de|uxe': 'Deluxe', 
    '?eluxe': 'Deluxe', '??eluxe': 'Deluxe', '?ELUXE': 'Deluxe', 'super deluxe': 'Super Deluxe', 'SUPER DÎ•LUXE': 'Super Deluxe',
    'Super Deluxe': 'Super Deluxe', 'SUPER DELUXE': 'Super Deluxe', 'Super ?eluxe': 'Super Deluxe',
    '?uper Deluxe': 'Super Deluxe', 'Super De|uxe': 'Super Deluxe', 'Super ??eluxe': 'Super Deluxe',
    '?uper De|uxe': 'Super Deluxe', 'super de|uxe': 'Super Deluxe', 'ï½“uper deluxe': 'Super Deluxe',
    'Standard': 'Standard', 'standard': 'Standard', 'STANDARD': 'Standard', '?tandard': 'Standard',
    'Stand??rd': 'Standard', 'Standa??d': 'Standard', 'Sta?dard': 'Standard', 'S??andard': 'Standard', 'sta?dard': 'Standard',
    'Standar??': 'Standard', 'St??ndard': 'Standard', 'STAN?ARD': 'Standard', 'STANDAR?': 'Standard',
    '?TANDARD': 'Standard', '?tanda??d': 'Standard', 'King': 'King', 'king': 'King',
    'KING': 'King', 'K??g': 'King', 'Ki?g': 'King', 'K?ng': 'King'
}

# Applying the mapping
df_train['ProductPitched'] = df_train['ProductPitched'].map(product_mapping)

In [20]:
df_train['ProductPitched'].isnull().sum()

0

In [23]:
df_train['ProductPitched'].value_counts()

ProductPitched
Basic           1157
Deluxe          1045
Standard         841
Super Deluxe     320
King             126
Name: count, dtype: int64

In [25]:
df_test['ProductPitched'] = df_test['ProductPitched'].map(product_mapping)
df_test['ProductPitched'].value_counts()

ProductPitched
Basic           1155
Deluxe          1034
Standard         742
Super Deluxe     309
King             158
Name: count, dtype: int64

In [26]:
# ãƒ‡ãƒ¼ã‚¿ãƒ•ãƒ¬ãƒ¼ãƒ ã‚’CSVãƒ•ã‚¡ã‚¤ãƒ«ã«å‡ºåŠ›
df_train.to_csv('./data/processed_train.csv', index=False, encoding='utf-8')
df_test.to_csv('./data/processed_test.csv', index=False, encoding='utf-8')