In [2]:
import pandas as pd
import numpy as np

In [3]:
# 前処理済みのデータの読み込み
df_train = pd.read_csv('./data/processed_train1.csv')
df_test = pd.read_csv('./data/processed_test1.csv')

In [4]:
df_train['ProdTaken'] = df_train['ProdTaken'].astype(int)

In [5]:
int_list = ['DurationOfPitch', 'NumberOfPersonVisiting', 'NumberOfFollowups', 'PreferredPropertyStar', 'children', 'MonthlyIncome'] 

for columns in int_list:
    df_train[columns] = df_train[columns].astype(int, errors='ignore')

In [6]:
int_list = ['DurationOfPitch', 'NumberOfPersonVisiting', 'NumberOfFollowups', 'PreferredPropertyStar', 'children', 'MonthlyIncome'] 

for columns in int_list:
    df_test[columns] = df_test[columns].astype(int, errors='ignore')

In [7]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3489 entries, 0 to 3488
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      3489 non-null   int64
 1   Age                     3489 non-null   int64
 2   TypeofContact           3483 non-null   object
 3   CityTier                3489 non-null   int64
 4   DurationOfPitch         3368 non-null   float64
 5   Occupation              3489 non-null   object
 6   Gender                  3489 non-null   object
 7   NumberOfPersonVisiting  3489 non-null   int32
 8   NumberOfFollowups       3456 non-null   float64
 9   ProductPitched          3489 non-null   object
 10  PreferredPropertyStar   3489 non-null   int32
 11  NumberOfTrips           3467 non-null   object
 12  Passport                3489 non-null   int64
 13  PitchSatisfactionScore  3489 non-null   int64
 14  Designation             3489 non-null   object
 15  MonthlyIncome           3433 non-null   float64
 16  marital_status          3489 non-null   object
 17  car_ownership           3489 non-null   object
 18  children                3452 non-null   float64
 19  ProdTaken               3489 non-null   int32
dtypes: float64(4), int32(3), int64(5), object(8)
memory usage: 504.4+ KB

In [8]:
row_data = df_train.loc[50]
print(row_data)

id                                     50
Age                                    42
TypeofContact             Company Invited
CityTier                                2
DurationOfPitch                     960.0
Occupation                 Small Business
Gender                               Male
NumberOfPersonVisiting                  1
NumberOfFollowups                     3.0
ProductPitched                      Basic
PreferredPropertyStar                   3
NumberOfTrips                           2
Passport                                0
PitchSatisfactionScore                  1
Designation                     Executive
MonthlyIncome                    273840.0
marital_status                       離婚済み
car_ownership                        車未所持
children                              0.0
ProdTaken                               0
Name: 50, dtype: object

In [9]:
# 全ての行を表示  
pd.set_option('display.max_rows', None) 

df_train['ProductPitched'].value_counts()

ProductPitched
Basic            887
Deluxe           836
Standard         648
Super Deluxe     238
basic            106
BASIC            104
DELUXE            93
King              91
deluxe            88
standard          86
STANDARD          80
super deluxe      35
SUPER DELUXE      27
KING              18
Bas?c             15
king              14
De|uxe            12
Βasic              9
Super ?eluxe       6
?tandard           6
Basi??             5
?uper Deluxe       5
Delu×e             5
Super De|uxe       4
Вasic              4
?eluxe             4
??asic             4
Stand??rd          3
Standa??d          3
Sta?dard           3
S??andard          3
Basiс              3
Basi?              3
Standar??          2
B??sic             2
??eluxe            2
BA?IC              2
St??ndard          2
DELUXΕ             1
K??g               1
sta?dard           1
??asi??            1
SUPER DΕLUXE       1
Ki?g               1
Βas?c              1
BASIС              1
B??si??            1
ΒASIС              1
Super ??eluxe      1
?tanda??d          1
Bas??              1
basi?              1
STAN?ARD           1
В??sic             1
BASΙC              1
DΕLUXΕ             1
STANDAR?           1
ｓuper deluxe       1
de|uxe             1
super de|uxe       1
bas?c              1
Baｓic              1
K?ng               1
Βas???             1
?uper De|uxe       1
de|u×e             1
?ELUXE             1
BΑSIC              1
?TANDARD           1
Name: count, dtype: int64

In [10]:
df_train['ProductPitched'].isnull().sum()

0

In [24]:
# Mapping of variations to standard forms
product_mapping = {
    'Basic': 'Basic', 'basic': 'Basic', 'BASIC': 'Basic', 'Bas?c': 'Basic', 'Вasic': 'Вasic', 'BASΙC': 'Вasic', 'Вasic': 'Basic', 'Вasic': 'Basic',
    'Βasic': 'Basic', 'Basi??': 'Basic', 'Βas?c': 'Basic', 'Basiс': 'Basic', '??asic': 'Вasic', '??asi??': 'Вasic', 
    'Basi?': 'Basic', 'BA?IC': 'Basic', 'BASIС': 'Basic', 'B??sic': 'Basic', 'В??sic': 'Вasic',
    'ΒASIС': 'Basic', 'Bas??': 'Basic', 'basi?': 'Basic', 'bas?c': 'Basic',
    'Baｓic': 'Basic', 'BΑSIC': 'Basic', 'Βas???': 'Basic', 'BΑSIC': 'Basic', 'B??si??': 'Basic', 'Вasic': 'Basic',
    'Deluxe': 'Deluxe', 'deluxe': 'Deluxe', 'DELUXE': 'Deluxe', 'De|uxe': 'Deluxe',
    'Delu×e': 'Deluxe', 'DELUXΕ': 'Deluxe', 'DΕLUXΕ': 'Deluxe', 'de|u×e': 'Deluxe', 'de|uxe': 'Deluxe', 
    '?eluxe': 'Deluxe', '??eluxe': 'Deluxe', '?ELUXE': 'Deluxe', 'super deluxe': 'Super Deluxe', 'SUPER DΕLUXE': 'Super Deluxe',
    'Super Deluxe': 'Super Deluxe', 'SUPER DELUXE': 'Super Deluxe', 'Super ?eluxe': 'Super Deluxe',
    '?uper Deluxe': 'Super Deluxe', 'Super De|uxe': 'Super Deluxe', 'Super ??eluxe': 'Super Deluxe',
    '?uper De|uxe': 'Super Deluxe', 'super de|uxe': 'Super Deluxe', 'ｓuper deluxe': 'Super Deluxe',
    'Standard': 'Standard', 'standard': 'Standard', 'STANDARD': 'Standard', '?tandard': 'Standard',
    'Stand??rd': 'Standard', 'Standa??d': 'Standard', 'Sta?dard': 'Standard', 'S??andard': 'Standard', 'sta?dard': 'Standard',
    'Standar??': 'Standard', 'St??ndard': 'Standard', 'STAN?ARD': 'Standard', 'STANDAR?': 'Standard',
    '?TANDARD': 'Standard', '?tanda??d': 'Standard', 'King': 'King', 'king': 'King',
    'KING': 'King', 'K??g': 'King', 'Ki?g': 'King', 'K?ng': 'King'
}

# Applying the mapping
df_train['ProductPitched'] = df_train['ProductPitched'].map(product_mapping)

In [12]:
df_train['ProductPitched'].isnull().sum()

0

In [25]:
df_train['ProductPitched'].value_counts()

ProductPitched
Basic           1157
Deluxe          1045
Standard         841
Super Deluxe     320
King             126
Name: count, dtype: int64

In [14]:
df_train['NumberOfFollowups'].isnull().sum()

33

In [15]:
df_train['NumberOfFollowups'].value_counts()

NumberOfFollowups
4.0      1396
3.0      1279
5.0       519
2.0       108
1.0        77
6.0        38
300.0      17
400.0      15
500.0       5
100.0       1
600.0       1
Name: count, dtype: int64

In [16]:
df_train[df_train.isnull().any(axis=1)]

,id,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,NumberOfTrips,Passport,PitchSatisfactionScore,Designation,MonthlyIncome,marital_status,car_ownership,children,ProdTaken
25,25,41,Company Invited,2,NaN,Salaried,Male,1,3.0,Deluxe,3,1,0,4,Manager,303345.0,結婚済み,車未所持,0.0,0
26,26,0,Self Enquiry,1,NaN,Salaried,Female,1,3.0,Deluxe,3,1,0,4,Manager,256845.0,独身,車所持,0.0,0
44,44,33,NaN,1,NaN,Salaried,Female,1,3.0,Deluxe,3,1,0,1,Manager,282075.0,結婚済み,車未所持,0.0,0
109,109,46,Self Enquiry,1,600.0,Salaried,Male,2,3.0,Deluxe,3,3,0,2,Manager,NaN,結婚済み,車未所持,0.0,0
136,136,46,Self Enquiry,2,540.0,Large Business,Female,2,3.0,Super Deluxe,4,2,0,2,AVP,483855.0,独身,車所持,NaN,0
148,148,34,Company Invited,2,840.0,Small Business,Male,3,5.0,Basic,3,6,0,1,Executive,NaN,独身,車未所持,0.0,0
153,153,50,Self Enquiry,1,2160.0,Small Business,Male,3,4.0,Super Deluxe,3,3,0,1,ΑVP,490000.0,結婚済み,車所持,NaN,0
171,171,28,Company Invited,1,840.0,Salaried,Male,1,NaN,Deluxe,3,年に3回,0,2,Manager,300000.0,独身,車所持,0.0,0
174,174,55,Self Enquiry,1,1440.0,Small Business,Male,2,3.0,Super Deluxe,3,7,0,2,AVP,428025.0,結婚済み,車所持,NaN,0
192,192,0,Self Enquiry,1,600.0,Small Business,Male,2,3.0,Basic,4,6,0,4,Executive,NaN,結婚済み,車未所持,0.0,0
235,235,31,Self Enquiry,2,NaN,Salaried,Male,2,4.0,Deluxe,4,年に2回,0,3,Manager,300000.0,離婚済み,車所持,1.0,0
241,241,32,Company Invited,1,NaN,Small Business,Female,2,4.0,Basic,3,3,0,4,Executi?е,300000.0,結婚済み,車所持,1.0,0
243,243,45,Self Enquiry,1,420.0,Salaried,Male,2,4.0,Super Deluxe,4,6,0,1,AVP,560000.0,独身,車未所持,NaN,0
259,259,47,Company Invited,2,NaN,Salaried,Female,2,5.0,Deluxe,3,年に5回,1,4,Manager,319680.0,結婚済み,車未所持,1.0,0
264,264,39,Company Invited,2,NaN,Small Business,Male,2,2.0,Deluxe,3,1,0,2,Manager,293745.0,独身,車所持,0.0,0
285,285,42,Self Enquiry,2,600.0,Small Business,Male,3,4.0,King,4,NaN,0,2,VP,495150.0,結婚済み,車所持,2.0,0
293,293,42,Self Enquiry,2,720.0,Small Business,Male,3,4.0,Standard,4,NaN,0,1,Senior Manager,484320.0,結婚済み,車所持,2.0,1
295,295,47,Self Enquiry,2,360.0,Salaried,Male,3,4.0,Super Deluxe,3,NaN,0,2,AVP,466890.0,未婚,車所持,2.0,0
318,318,30,Company Invited,1,NaN,Small Business,Female,4,4.0,Basic,3,3,0,2,Executive,314445.0,結婚済み,車所持,3.0,0
322,322,51,Company Invited,1,780.0,Salaried,Male,3,4.0,Super Deluxe,3,NaN,0,1,AVP,511500.0,離婚済み,車所持,2.0,0
325,325,38,Self Enquiry,2,NaN,Small Business,Male,3,5.0,Deluxe,3,7,0,2,Manager,323835.0,結婚済み,車未所持,2.0,0
350,350,30,Self Enquiry,1,600.0,Large Business,Female,2,4.0,Super Deluxe,4,1,0,3,AVP,510480.0,離婚済み,車所持,NaN,0
355,355,28,Self Enquiry,2,480.0,Salaried,Male,3,4.0,King,3,3,0,3,VP,495570.0,未婚,車所持,NaN,0
357,357,59,Self Enquiry,2,1680.0,Small Business,Male,2,4.0,Super Deluxe,3,NaN,0,2,AVP,535065.0,離婚済み,車所持,0.0,0
360,360,21,Company Invited,2,NaN,Salaried,Female,2,4.0,Deluxe,3,3,0,2,Manager,313950.0,独身,車未所持,1.0,0
366,366,34,Company Invited,2,NaN,Small Business,Male,2,3.0,Deluxe,3,2,0,2,Manager,315600.0,独身,車未所持,1.0,0
368,368,30,Company Invited,3,NaN,Small Business,Female,2,3.0,Deluxe,3,2,0,2,Manager,307260.0,独身,車所持,1.0,0
374,374,47,Self Enquiry,1,480.0,Salaried,Female,3,3.0,Super Deluxe,3,4,0,2,AVP,498870.0,離婚済み,車所持,NaN,0
379,379,33,Self Enquiry,2,1320.0,Salaried,Male,3,NaN,Deluxe,3,3,0,2,Managеr,302520.0,離婚済み,車未所持,0.0,0
402,402,0,Company Invited,2,1080.0,Small Business,Male,2,3.0,Deluxe,3,年に5回,0,4,Manager,NaN,結婚済み,車未所持,0.0,0
406,406,33,Self Enquiry,1,600.0,Salaried,Male,2,NaN,Deluxe,4,年に3回,0,4,Manager,315840.0,未婚,車未所持,0.0,0
409,409,38,Company Invited,1,NaN,Salaried,Male,2,3.0,Deluxe,3,5,0,4,Manager,310000.0,離婚済み,車未所持,0.0,0
412,412,45,Company Invited,1,NaN,Small Business,Female,2,3.0,Deluxe,3,3,1,1,Manager,337905.0,離婚済み,車所持,1.0,0
415,415,28,Company Invited,3,NaN,Small Business,Female,2,3.0,Deluxe,3,3,0,4,Manager,298635.0,結婚済み,車未所持,1.0,0
416,416,28,Self Enquiry,2,NaN,Small Business,Female,2,300.0,Deluxe,3,3,0,3,Manager,296220.0,結婚済み,車未所持,1.0,0
417,417,30,Company Invited,2,NaN,Small Business,Female,2,3.0,Deluxe,3,1,0,4,Manager,296925.0,未婚,車所持,1.0,0
419,419,24,Self Enquiry,2,NaN,Small Business,Female,2,3.0,Basic,3,3,0,4,Executive,255210.0,離婚済み,車未所持,1.0,1
430,430,58,Company Invited,2,NaN,Salaried,Female,2,3.0,Deluxe,3,年に5回,0,4,Manager,294450.0,独身,車未所持,1.0,0
440,440,46,Self Enquiry,2,1020.0,Salaried,Female,3,5.0,Super Deluxe,3,年に5回,0,3,Manager,442125.0,結婚済み,車所持,NaN,0
441,441,35,Company Invited,1,NaN,Small Business,Male,2,3.0,Deluxe,3,3,0,4,Manager,291795.0,結婚済み,車未所持,1.0,1
445,445,37,Company Invited,1,NaN,Small Business,Female,2,3.0,Deluxe,3,3,0,4,Manager,295905.0,結婚済み,車未所持,1.0,0
446,446,41,Company Invited,2,NaN,Salaried,Female,2,4.0,Deluxe,3,1,0,3,Manager,302775.0,離婚済み,車未所持,1.0,0
447,447,47,Company Invited,1,NaN,Salaried,Male,2,3.0,Deluxe,3,3,0,4,Manager,297540.0,独身,車未所持,1.0,0
449,449,40,Company Invited,1,NaN,Salaried,Male,2,3.0,Deluxe,3,1,0,4,Manager,311955.0,独身,車所持,1.0,0
457,457,40,Company Invited,1,900.0,Small Business,Male,2,3.0,King,3,5,0,2,Senior Manager,503670.0,離婚済み,車所持,NaN,0
458,458,41,Self Enquiry,1,1320.0,Salaried,Female,1,NaN,Deluxe,3,3,0,1,Manager,317055.0,離婚済み,車未所持,0.0,0
475,475,44,Self Enquiry,1,600.0,Large Business,Male,4,5.0,King,3,3,0,1,VP,464160.0,独身,車所持,NaN,0
495,495,46,Self Enquiry,2,840.0,Salaried,Male,3,4.0,Super Deluxe,3,NaN,0,1,AVP,544740.0,独身,車所持,2.0,0
558,558,0,Self Enquiry,1,600.0,Large Business,Female,3,3.0,Basic,3,5,0,4,Executive,NaN,離婚済み,車所持,0.0,0
560,560,48,Self Enquiry,1,2100.0,Large Business,Male,3,3.0,Deluxe,4,年に5回,0,3,Manager,423360.0,結婚済み,車未所持,NaN,0
570,570,48,Self Enquiry,1,540.0,Small Business,Male,2,4.0,Super Deluxe,3,NaN,0,2,AVP,578670.0,離婚済み,車未所持,1.0,0
595,595,27,Self Enquiry,1,NaN,Salaried,Male,3,4.0,Super Deluxe,3,3,0,2,AVP,345615.0,独身,車未所持,2.0,0
669,669,35,Company Invited,3,1020.0,Salaried,Male,3,5.0,Super Deluxe,3,NaN,0,2,AVP,522855.0,独身,車未所持,2.0,1
701,701,34,Self Enquiry,2,NaN,Salaried,Male,3,5.0,Deluxe,3,年に3回,0,4,Manager,319215.0,結婚済み,車所持,2.0,0
737,737,35,Company Invited,1,660.0,Small Business,Female,3,5.0,Basic,3,1,0,4,Executive,NaN,結婚済み,車未所持,2.0,1
739,739,33,Company Invited,1,NaN,Small Business,Female,2,5.0,Basic,3,3,0,4,Executive,307365.0,結婚済み,車所持,1.0,0
747,747,57,Company Invited,1,780.0,Salaried,Male,2,4.0,King,3,NaN,1,3,VP,566625.0,結婚済み,車所持,1.0,1
752,752,49,Self Enquiry,1,1080.0,Salaried,Female,2,5.0,Basic,3,年に3回,1,3,Manager,NaN,結婚済み,車未所持,1.0,0
774,774,26,Self Enquiry,2,720.0,Small Business,Female,3,4.0,Basic,4,5,0,3,Executi?e,NaN,離婚済み,車所持,2.0,1
809,809,24,Company Invited,1,NaN,Small Business,Male,2,5.0,Basic,3,2,0,4,Executive,255045.0,独身,車未所持,1.0,1
819,819,37,Company Invited,1,NaN,Salaried,Female,2,4.0,Deluxe,3,3,0,4,Manager,327945.0,独身,車未所持,1.0,0
825,825,0,Self Enquiry,1,1380.0,Salaried,Female,2,4.0,Basic,3,2,0,4,Executive,NaN,結婚済み,車未所持,1.0,0
856,856,30,Self Enquiry,1,NaN,Small Business,Female,1,4.0,Basic,3,2,0,4,Executive,255270.0,離婚済み,車所持,0.0,0
862,862,50,Self Enquiry,1,1140.0,Salaried,Female,2,3.0,Super Deluxe,4,5,0,3,AVP,565035.0,結婚済み,車所持,NaN,0
864,864,20,Self Enquiry,3,NaN,Small Business,Female,2,5.0,Basic,3,3,0,3,Executive,306240.0,独身,車所持,1.0,0
898,898,54,Self Enquiry,1,1680.0,Salaried,Male,3,5.0,Super Deluxe,3,5,0,4,AVP,545625.0,結婚済み,車未所持,NaN,0
899,899,0,Company Invited,1,480.0,Small Business,Male,3,3.0,Super Deluxe,3,2,0,4,AVP,NaN,離婚済み,車所持,0.0,0
901,901,46,Self Enquiry,2,660.0,Salaried,Male,3,4.0,King,3,NaN,0,2,VP,459615.0,結婚済み,車所持,2.0,0
904,904,41,Company Invited,2,NaN,Small Business,Male,2,3.0,Deluxe,3,3,0,2,Manager,300000.0,結婚済み,車未所持,1.0,0
922,922,34,Company Invited,2,NaN,Small Business,Female,2,3.0,Deluxe,3,3,0,4,Manager,293505.0,独身,車所持,1.0,0
923,923,22,Company Invited,2,1020.0,Small Business,Male,2,NaN,Basic,3,1,0,4,Executive,257865.0,結婚済み,車所持,1.0,1
938,938,46,Self Enquiry,2,900.0,Small Business,Female,2,3.0,Deluxe,4,2,0,4,Manager,355785.0,結婚済み,車所持,NaN,0
964,964,43,NaN,3,NaN,Small Business,Female,2,3.0,Deluxe,3,年に1回,0,2,Manager,303285.0,独身,車所持,1.0,0
968,968,0,Self Enquiry,1,1380.0,Large Business,Male,2,2.0,Basic,3,7,0,4,Executive,NaN,結婚済み,車未所持,1.0,0
1011,1011,44,Self Enquiry,2,NaN,Salaried,Male,2,4.0,Deluxe,3,3,0,2,Manager,307740.0,結婚済み,車未所持,1.0,0
1014,1014,42,Company Invited,1,NaN,Small Business,Female,2,3.0,Deluxe,3,3,0,2,Manager,319830.0,離婚済み,車所持,1.0,0
1020,1020,25,Self Enquiry,2,NaN,Salaried,Male,2,4.0,Basic,3,3,1,2,Executive,310845.0,独身,車未所持,1.0,1
1032,1032,0,Self Enquiry,1,1440.0,Small Business,Female,3,3.0,Basic,3,2,0,3,Executive,NaN,離婚済み,車所持,2.0,0
1044,1044,34,Self Enquiry,1,NaN,Small Business,Female,2,3.0,Deluxe,3,1,0,1,Manager,286440.0,結婚済み,車所持,1.0,0
1062,1062,30,Company Invited,2,NaN,Small Business,Male,1,3.0,Deluxe,3,2,0,2,Manager,321765.0,独身,車未所持,0.0,0
1072,1072,27,Company Invited,2,NaN,Small Business,Male,2,3.0,Deluxe,3,1,0,2,Manager,300570.0,結婚済み,車未所持,1.0,0
1085,1085,30,Company Invited,2,NaN,Salaried,Female,3,3.0,Deluxe,3,3,0,3,Manαger,321615.0,結婚済み,車所持,2.0,0
1099,1099,52,Self Enquiry,2,1020.0,Salaried,Male,3,3.0,King,3,2,1,5,VP,464535.0,結婚済み,車所持,NaN,0
1107,1107,36,Self Enquiry,1,1560.0,Salaried,Male,2,NaN,Deluxe,3,3,0,2,Manager,300000.0,独身,車所持,1.0,0
1114,1114,36,Self Enquiry,1,NaN,Large Business,Male,2,3.0,Deluxe,3,1,0,2,Manager,300000.0,離婚済み,車未所持,1.0,0
1159,1159,40,Company Invited,1,NaN,Salaried,Male,1,5.0,Deluxe,3,3,0,2,Manager,302805.0,結婚済み,車所持,0.0,0
1166,1166,21,Company Invited,2,NaN,Small Business,Male,1,3.0,Basic,3,3,0,4,Executive,246300.0,独身,車所持,0.0,1
1168,1168,0,Self Enquiry,2,540.0,Small Business,Male,2,3.0,Deluxe,3,6,0,4,Manager,NaN,結婚済み,車未所持,1.0,0
1169,1169,0,Self Enquiry,3,1320.0,Small Business,Female,1,3.0,Basic,3,2,0,4,Exеcutive,NaN,離婚済み,車未所持,0.0,0
1174,1174,27,Self Enquiry,3,NaN,Small Business,Male,2,3.0,Deluxe,3,4,0,4,Manager,302625.0,独身,車未所持,1.0,1
1184,1184,20,Company Invited,2,NaN,Salaried,Male,2,3.0,Deluxe,3,年に3回,0,4,Manager,247410.0,独身,車所持,1.0,1
1198,1198,29,Self Enquiry,1,NaN,Salaried,Female,2,3.0,Deluxe,3,3,0,4,Manager,285465.0,結婚済み,車所持,1.0,0
1282,1282,25,Self Enquiry,2,NaN,Small Business,Male,2,3.0,Deluxe,3,3,0,4,Manager,298245.0,離婚済み,車未所持,1.0,1
1290,1290,38,Self Enquiry,2,480.0,Large Business,Female,3,NaN,Deluxe,3,3,0,2,Manager,314985.0,結婚済み,車未所持,2.0,0
1310,1310,40,Self Enquiry,1,NaN,Salaried,Male,2,3.0,Deluxe,3,5,0,4,Manager,321750.0,離婚済み,車所持,1.0,0
1328,1328,29,Company Invited,2,NaN,Salaried,Male,2,5.0,Deluxe,3,3,0,2,Manager,301965.0,独身,車未所持,0.0,1
1338,1338,40,Company Invited,3,NaN,Salaried,Male,2,3.0,Deluxe,3,1,0,4,Manager,300000.0,結婚済み,車未所持,1.0,0
1340,1340,51,Self Enquiry,2,NaN,Salaried,Male,2,3.0,Deluxe,3,3,0,4,Mαnage??,315915.0,結婚済み,車未所持,1.0,0
1347,1347,36,Self Enquiry,2,NaN,Salaried,Male,2,3.0,Deluxe,3,3,0,4,Manager,293580.0,結婚済み,車所持,1.0,0
1365,1365,38,Company Invited,1,NaN,Small Business,Male,2,3.0,Deluxe,3,6,0,5,Manager,312825.0,結婚済み,車所持,1.0,0
1382,1382,29,Self Enquiry,1,600.0,Salaried,Female,3,5.0,Super Deluxe,4,3,0,1,AVP,474060.0,離婚済み,車所持,NaN,0
1399,1399,36,Company Invited,2,NaN,Salaried,Male,2,3.0,Deluxe,3,3,0,3,Manager,292890.0,離婚済み,車所持,1.0,0
1415,1415,42,Self Enquiry,2,600.0,Salaried,Male,3,4.0,Super Deluxe,3,NaN,0,1,AVP,408150.0,離婚済み,車未所持,2.0,0
1431,1431,0,Company Invited,1,540.0,Small Business,Male,3,4.0,Basic,3,5,1,1,Executive,NaN,結婚済み,車所持,2.0,0
1450,1450,33,Self Enquiry,1,780.0,Salaried,Female,3,5.0,King,3,3,0,3,VP,600000.0,結婚済み,車未所持,NaN,0
1468,1468,0,Self Enquiry,2,NaN,Small Business,Male,2,4.0,Deluxe,3,7,0,4,Manager,324960.0,離婚済み,車所持,0.0,0
1491,1491,54,Self Enquiry,2,780.0,Small Business,Female,2,NaN,Deluxe,3,5,0,2,Manager,315105.0,結婚済み,車所持,1.0,0
1503,1503,43,Company Invited,2,840.0,Salaried,Male,2,NaN,Deluxe,3,3,0,2,Manager,320880.0,未婚,車未所持,1.0,0
1507,1507,30,Company Invited,1,480.0,Small Business,Female,3,4.0,Basic,4,7,0,2,Executive,NaN,離婚済み,車所持,1.0,0
1517,1517,37,Company Invited,2,NaN,Small Business,Female,2,5.0,Deluxe,3,年に3回,0,4,Manager,320000.0,結婚済み,車未所持,1.0,0
1561,1561,0,Self Enquiry,1,600.0,Salaried,Male,2,4.0,Deluxe,3,1,0,4,Manager,NaN,独身,車未所持,1.0,0
1579,1579,46,Company Invited,2,540.0,Small Business,Male,2,NaN,Deluxe,3,3,0,2,Manager,350145.0,未婚,車未所持,1.0,0
1580,1580,57,Self Enquiry,2,480.0,Small Business,Male,2,4.0,Super Deluxe,4,7,0,2,AVP,499605.0,離婚済み,車所持,NaN,0
1582,1582,47,Self Enquiry,1,420.0,Small Business,Male,2,5.0,Super Deluxe,4,2,0,2,AVP,500000.0,独身,車所持,NaN,0
1584,1584,30,Company Invited,1,1860.0,Small Business,Female,2,NaN,Deluxe,3,3,0,2,Manager,325095.0,結婚済み,車未所持,1.0,0
1586,1586,40,Company Invited,1,NaN,Salaried,Male,2,1.0,Deluxe,3,1,0,2,Manager,300000.0,結婚済み,車所持,1.0,0
1588,1588,33,Self Enquiry,1,840.0,Salaried,Male,2,NaN,Deluxe,3,1,0,1,Manager,320175.0,結婚済み,車未所持,1.0,0
1589,1589,40,Self Enquiry,1,540.0,Salaried,Male,2,NaN,Super Deluxe,3,3,0,1,AVP,446565.0,独身,車所持,1.0,0
1590,1590,51,Self Enquiry,1,1800.0,Salaried,Male,2,NaN,Deluxe,3,1,0,2,Manager,315390.0,未婚,車未所持,1.0,0
1614,1614,35,Self Enquiry,3,600.0,Small Business,Male,3,4.0,Basic,3,NaN,0,1,Executive,408180.0,離婚済み,車未所持,1.0,0
1622,1622,50,Company Invited,2,720.0,Salaried,Male,4,4.0,King,3,NaN,0,1,VP,500000.0,離婚済み,車未所持,1.0,0
1678,1678,53,Company Invited,1,NaN,Salaried,Female,3,5.0,Basic,3,4,0,1,Executive,250000.0,結婚済み,車未所持,0.0,0
1708,1708,41,Company Invited,1,900.0,Salaried,Male,3,4.0,Super Deluxe,3,NaN,0,1,AVP,548025.0,独身,車未所持,2.0,0
1726,1726,59,Company Invited,1,480.0,Salaried,Male,3,4.0,Super Deluxe,3,NaN,1,2,AVP,520000.0,結婚済み,車所持,1.0,0
1743,1743,20,Self Enquiry,2,360.0,Small Business,Male,2,NaN,Basic,3,2,0,1,Executive,254730.0,結婚済み,車未所持,1.0,0
1746,1746,56,Self Enquiry,1,840.0,Salaried,Male,3,4.0,Super Deluxe,3,NaN,0,1,AVP,567900.0,結婚済み,車所持,1.0,1
1750,1750,49,Company Invited,1,NaN,Small Business,Male,2,NaN,Deluxe,3,1,0,1,Manager,294930.0,独身,車未所持,1.0,0
1751,1751,0,Company Invited,1,1740.0,Salaried,Male,2,2.0,Deluxe,3,3,0,2,Manager,NaN,独身,車未所持,1.0,0
1757,1757,42,Self Enquiry,2,360.0,Salaried,Male,2,5.0,Basic,5,7,0,4,Executive,313710.0,結婚済み,車未所持,NaN,0
1762,1762,50,Self Enquiry,1,540.0,Salaried,Male,2,3.0,Super Deluxe,3,4,0,5,AVP,500000.0,離婚済み,車所持,NaN,0
1774,1774,43,Self Enquiry,2,540.0,Small Business,Male,3,4.0,King,3,NaN,0,3,VP,541575.0,結婚済み,車未所持,2.0,0
1779,1779,34,Company Invited,2,600.0,Small Business,Male,2,NaN,Deluxe,3,4,0,2,Manager,307815.0,独身,車未所持,1.0,0
1807,1807,28,Company Invited,3,NaN,Salaried,Male,2,3.0,Deluxe,5,3,0,2,Manager,394320.0,離婚済み,車未所持,0.0,0
1867,1867,0,Self Enquiry,2,900.0,Small Business,Male,2,3.0,Deluxe,3,2,0,2,Manager,NaN,独身,車未所持,0.0,0
1868,1868,43,Self Enquiry,3,NaN,Small Business,Female,2,3.0,Deluxe,3,3,0,1,Manager,320000.0,離婚済み,車所持,0.0,0
1887,1887,0,Company Invited,3,1080.0,Large Business,Female,1,1.0,Deluxe,3,2,0,3,Manager,NaN,独身,車所持,0.0,0
1908,1908,26,Company Invited,3,NaN,Small Business,Female,2,3.0,Basic,3,3,0,2,Executive,249600.0,離婚済み,車所持,0.0,1
1925,1925,0,Self Enquiry,2,780.0,Small Business,Male,2,3.0,Basic,3,2,0,2,Executive,NaN,結婚済み,車未所持,0.0,0
1943,1943,40,Self Enquiry,1,480.0,Large Business,Female,2,3.0,Basic,3,1,0,4,Executive,NaN,独身,車未所持,1.0,0
1947,1947,39,Self Enquiry,1,600.0,Large Business,Male,2,NaN,Super Deluxe,3,1,0,3,AVP,280560.0,結婚済み,車所持,1.0,0
1967,1967,30,Company Invited,1,NaN,Small Business,Male,2,3.0,Deluxe,3,1,0,2,Manager,291705.0,結婚済み,車未所持,1.0,0
1990,1990,57,Self Enquiry,1,1260.0,Small Business,Male,2,3.0,Deluxe,3,2,0,4,Manager,NaN,独身,車所持,1.0,0
1994,1994,43,Self Enquiry,1,NaN,Small Business,Female,2,NaN,Deluxe,3,1,0,4,Manager,306660.0,独身,車所持,1.0,0
2038,2038,0,Self Enquiry,3,540.0,Small Business,Female,2,3.0,Basic,4,2,0,4,Executive,NaN,結婚済み,車所持,0.0,0
2072,2072,52,Company Invited,1,NaN,Salaried,Male,2,3.0,Deluxe,4,1,1,4,Manager,318720.0,離婚済み,車未所持,0.0,0
2085,2085,0,Self Enquiry,3,2100.0,Small Business,Male,3,4.0,Basic,3,2,0,4,Executive,NaN,独身,車未所持,1.0,0
2087,2087,31,Self Enquiry,3,NaN,Salaried,Male,3,4.0,Deluxe,3,3,0,3,Manager,370000.0,離婚済み,車所持,1.0,0
2088,2088,50,Self Enquiry,2,420.0,Salaried,Female,3,4.0,Basic,3,5,0,5,Executive,NaN,独身,車未所持,2.0,0
2097,2097,51,Self Enquiry,1,540.0,Salaried,Male,3,3.0,King,3,6,0,5,VP,572580.0,結婚済み,車所持,NaN,0
2099,2099,53,Self Enquiry,1,420.0,Salaried,Male,4,4.0,King,3,NaN,0,2,VP,539880.0,独身,車所持,3.0,0
2117,2117,40,Self Enquiry,2,NaN,Salaried,Male,3,5.0,Deluxe,3,3,0,4,Manager,307770.0,離婚済み,車所持,1.0,1
2118,2118,41,Self Enquiry,1,480.0,Salaried,Female,3,5.0,Super Deluxe,5,3,0,2,AVP,500000.0,結婚済み,車未所持,NaN,0
2136,2136,36,Self Enquiry,1,720.0,Small Business,Female,3,5.0,Basic,4,7,0,4,Executive,300000.0,結婚済み,車未所持,NaN,0
2152,2152,32,Self Enquiry,3,NaN,Small Business,Female,3,4.0,Deluxe,4,5,0,4,Manager,327000.0,結婚済み,車所持,1.0,0
2159,2159,45,Company Invited,2,NaN,Salaried,Male,3,4.0,Deluxe,3,5,0,4,Manager,300765.0,結婚済み,車未所持,1.0,0
2187,2187,38,NaN,1,NaN,Salaried,Female,3,5.0,Basic,3,3,0,4,Executive,NaN,結婚済み,車所持,1.0,0
2199,2199,30,Self Enquiry,1,480.0,Small Business,Female,4,5.0,Super Deluxe,5,3,0,3,ΑVP,500000.0,結婚済み,車所持,NaN,0
2200,2200,33,Self Enquiry,1,420.0,Small Business,Female,3,5.0,Basic,5,2,0,2,Executive,449250.0,離婚済み,車未所持,NaN,0
2230,2230,30,Company Invited,2,NaN,Salaried,Male,2,3.0,Deluxe,3,2,0,4,Manager,249135.0,離婚済み,車未所持,0.0,0
2235,2235,30,Self Enquiry,2,NaN,Salaried,Female,2,3.0,Deluxe,3,5,0,3,Manager,283350.0,離婚済み,車所持,0.0,0
2240,2240,24,Company Invited,2,1020.0,Salaried,Male,3,NaN,Deluxe,3,3,0,1,Manager,343380.0,離婚済み,車所持,2.0,0
2241,2241,31,Self Enquiry,2,NaN,Salaried,Male,2,3.0,Deluxe,3,3,1,4,Manager,337920.0,独身,車未所持,1.0,0
2246,2246,20,Company Invited,1,NaN,Small Business,Female,2,4.0,Basic,3,4,0,3,Executive,NaN,独身,車所持,1.0,0
2248,2248,0,Company Invited,1,1200.0,Small Business,Male,2,3.0,Deluxe,3,1,0,4,Manager,NaN,結婚済み,車所持,0.0,0
2250,2250,0,Self Enquiry,1,1080.0,Small Business,Male,2,3.0,Basic,4,2,0,4,Executive,NaN,独身,車所持,0.0,1
2252,2252,0,Self Enquiry,1,480.0,Small Business,Male,2,3.0,Basic,3,6,0,5,Executive,NaN,結婚済み,車所持,1.0,0
2258,2258,0,Company Invited,1,600.0,Small Business,Male,2,3.0,Basic,3,年に6回,0,4,Executive,NaN,独身,車未所持,1.0,0
2265,2265,0,Self Enquiry,1,1500.0,Salaried,Male,2,3.0,Basic,3,年に1回,0,4,Executive,NaN,離婚済み,車所持,1.0,0
2270,2270,20,Self Enquiry,1,NaN,Salaried,Male,2,3.0,Basic,3,2,0,4,Executive,238890.0,独身,車所持,0.0,0
2289,2289,0,Company Invited,1,540.0,Small Business,Female,3,5.0,Basic,3,3,0,4,Executive,NaN,未婚,車所持,1.0,0
2301,2301,36,Self Enquiry,2,540.0,Salaried,Male,2,NaN,Basic,3,年に1回,0,1,Executive,271140.0,独身,車未所持,0.0,1
2326,2326,24,Self Enquiry,3,NaN,Salaried,Female,2,5.0,Deluxe,5,1,0,2,Manager,310665.0,独身,車未所持,1.0,0
2362,2362,38,Company Invited,2,NaN,Small Business,Female,3,2.0,Deluxe,3,年に3回,0,2,Manager,307935.0,独身,車所持,0.0,0
2364,2364,0,Company Invited,1,480.0,Salaried,Male,3,3.0,Deluxe,3,2,0,2,Manager,NaN,独身,車未所持,1.0,0
2365,2365,36,Company Invited,1,NaN,Small Business,Female,3,3.0,Deluxe,3,3,0,2,Manager,NaN,独身,車未所持,0.0,0
2378,2378,24,Self Enquiry,3,540.0,Salaried,Male,2,NaN,Deluxe,3,年に3回,0,2,Manager,323265.0,独身,車未所持,0.0,0
2420,2420,0,Company Invited,2,480.0,Small Business,Female,3,3.0,Deluxe,3,6,0,2,Manager,NaN,結婚済み,車所持,1.0,0
2445,2445,31,Self Enquiry,2,NaN,Small Business,Female,2,3.0,Deluxe,5,3,0,1,Manager,290940.0,結婚済み,車所持,1.0,0
2451,2451,35,NaN,2,1080.0,Salaried,Female,2,3.0,Deluxe,4,1,0,2,Manager,284265.0,結婚済み,車未所持,1.0,0
2466,2466,49,Self Enquiry,1,960.0,Small Business,Female,2,NaN,Deluxe,3,1,1,3,Manager,360930.0,未婚,車未所持,1.0,0
2469,2469,0,Company Invited,1,660.0,Small Business,Female,2,3.0,Basic,4,年に2回,0,4,Executive,NaN,独身,車所持,1.0,0
2470,2470,23,Self Enquiry,1,NaN,Small Business,Female,2,3.0,Basic,4,1,0,4,Executive,258615.0,独身,車未所持,1.0,0
2473,2473,39,Company Invited,1,NaN,Salaried,Male,2,3.0,Basic,5,3,0,4,Executive,251490.0,独身,車所持,1.0,1
2474,2474,60,Self Enquiry,1,420.0,Salaried,Male,2,5.0,Super Deluxe,5,1,0,1,AVP,541125.0,結婚済み,車所持,NaN,0
2477,2477,58,Self Enquiry,1,1080.0,Small Business,Female,2,3.0,Super Deluxe,4,年に5回,0,4,AVP,511185.0,結婚済み,車未所持,NaN,0
2484,2484,38,Company Invited,2,NaN,Small Business,Male,3,3.0,Deluxe,3,5,0,2,Manager,300930.0,結婚済み,車未所持,0.0,0
2544,2544,49,Company Invited,2,1680.0,Small Business,Male,3,NaN,Deluxe,3,3,0,2,Manager,334605.0,独身,車未所持,1.0,0
2551,2551,0,Company Invited,1,960.0,Small Business,Female,3,4.0,Basic,3,2,0,2,Executive,NaN,離婚済み,車所持,0.0,0
2557,2557,0,Company Invited,1,NaN,Salaried,Male,2,3.0,Deluxe,3,1,0,4,Manager,NaN,結婚済み,車未所持,1.0,0

In [17]:
# 文字列に変換
df_train['NumberOfFollowups'] = df_train['NumberOfFollowups'].astype(str)

# フォローアップの回数を数値に変換する関数
def convert_followups(value):
    if '年に' in value:
        return int(value.replace('年に', '').replace('回', ''))
    elif '半年に1回' in value:
        return 2
    elif '四半期に1回' in value:
        return 4
    else:
        return value

# 適用
df_train['NumberOfFollowups'] = df_train['NumberOfFollowups'].apply(convert_followups)
# float型に変換
df_train['NumberOfFollowups'] = df_train['NumberOfFollowups'].astype(float)
# 確認
df_train['NumberOfFollowups'].value_counts()

NumberOfFollowups
4.0      1396
3.0      1279
5.0       519
2.0       108
1.0        77
6.0        38
300.0      17
400.0      15
500.0       5
100.0       1
600.0       1
Name: count, dtype: int64

In [18]:
df_train['NumberOfFollowups'].isnull().sum()

33

In [19]:
df_train['Designation'].isnull().sum()

0

In [20]:
# Mapping of incorrect variations to correct job titles
mapping = {
    'Executive': 'Executive',
    'Exеcutive': 'Executive',
    'Exеcutivе': 'Executive',
    'Execuｔive': 'Executive',
    'Executivе': 'Executive',
    'Еxecutive': 'Executive',
    'Еxecutivе': 'Executive',
    'Е×еcutive': 'Executive',
    'E×ecutive': 'Executive',
    'Exеcuti?е': 'Executive',
    'Executi?e': 'Executive',
    'E×ecｕtive': 'Executive',
    'Execｕtive': 'Executive',
    'Exеcｕtivе': 'Executive',
    'Еxecuｔive': 'Executive',
    'Ε×ecutive': 'Executive',
    'Executi?е': 'Executive',            
    'Exеcｕtive': 'Executive',
    'E×еcuti?e': 'Executive',          
    'Еxеcutivе': 'Executive',              
    'Е×ecutive': 'Executive', 
    
    'Manager': 'Manager',
    'Μanager': 'Manager',
    'Manαger': 'Manager',
    'Managеr': 'Manager',
    'Mαnager': 'Manager',
    'Μanagеr': 'Manager',
    'Manαgеr': 'Manager',
    'Mαnagеr': 'Manager',
    'Manage??': 'Manager',
    'Mαnage??': 'Manager',
    'Μanage??': 'Manager',
    'Mαnαger': 'Manager',
    
    'Senior Manager': 'Senior Manager',
    'Senior Managеr': 'Senior Manager',
    'Senior Manαger': 'Senior Manager',
    'Senior Mαnager': 'Senior Manager',
    'Senior Manαgеr': 'Senior Manager',
    'Senior Managе??': 'Senior Manager',
    'Senio?? Manager': 'Senior Manager',
    '?enior Manager': 'Senior Manager',
    '?enior Manαger': 'Senior Manager',
    'Sеnior Manager': 'Senior Manager',
    '?enior Μanager': 'Senior Manager',
    'Senior Μanαger': 'Senior Manager',
    'Senior Mαnαger': 'Senior Manager',
    'Sеnior Managеr': 'Senior Manager',
    'Senior Manage??': 'Senior Manager',
    
    'AVP': 'AVP',
    'ΑVP': 'AVP',
    'АVP': 'AVP',
    'AVＰ': 'AVP',
    
    'VP': 'VP',
    'VＰ': 'VP',
}

# Replace incorrect variations with correct job titles
df_train['Designation'] = df_train['Designation'].replace(mapping)

In [21]:
df_train['Designation'].isnull().sum()

0

In [22]:
df_train['Designation'].value_counts()

Designation
Executive         1150
Manager           1055
Senior Manager     854
AVP                311
VP                 119
Name: count, dtype: int64

In [31]:
df_train['NumberOfTrips'].value_counts()

NumberOfTrips
2      1147
3       820
5       515
1       409
7       256
4       163
6       130
nan      22
半1       17
8        10
Name: count, dtype: int64

In [30]:
import re
# Function to normalize the entries
def normalize_trips(trip):
    # Convert all values to string first
    trip = str(trip)
    # Convert phrases like "年にX回" to X
    if '年に' in trip and '回' in trip:
        return re.sub(r'年に(\d+)回', r'\1', trip)
    # Convert "半年に1回" to 0.5 (since it means 2 times a year)
    elif trip == '半年に1回':
        return '0.5'
    # Convert "四半期に1回" to 4 (since it means 4 times a year)
    elif trip == '四半期に1回':
        return '4'
    else:
        return trip

# Apply the normalization function
df_train['NumberOfTrips'] = df_train['NumberOfTrips'].apply(normalize_trips)

# Convert to float for consistency
df_train['NumberOfTrips'] = df_train['NumberOfTrips'].astype(float)

ValueError: could not convert string to float: '半1'

In [26]:
# データフレームをCSVファイルに出力
df_train.to_csv('./data/processed_train.csv', index=False, encoding='utf-8')
df_test.to_csv('./data/processed_test.csv', index=False, encoding='utf-8')